<launch>
	<!-- $ rosrun nodelet nodelet manager __name:=sample_nodelet_manager -->
	<node pkg="nodelet" type="nodelet" args="manager"
    name="sample_nodelet_manager" output="screen" />

	<!-- $ rosrun nodelet nodelet load sample_nodelet/SampleNodeletClass sample_nodelet_manager __name:=SampleNodeletClass_loader-->
	<node pkg="nodelet" type="nodelet" args="load sample_nodelet/SampleNodeletClass sample_nodelet_manager"
    name="SampleNodeletClass_loader" output="screen">
	</node>
</launch>
